name: CI

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

jobs:
  build:
    runs-on: ubuntu-latest
    defaults:
      run:
        shell: bash -el {0}
    steps:
      - uses: actions/checkout@v5

      - uses: conda-incubator/setup-miniconda@v3
        with:
          activate-environment: dehomopolymerate
          environment-file: environment.yml
          miniforge-version: latest
          channels: conda-forge,bioconda
          conda-remove-defaults: true
          channel-priority: strict
          auto-update-conda: true

      - name: Compile C code
        run: make

      - name: Run test suite
        run: |
          cd test
          ./test.sh
